.order-confirmation {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #333;
}

.order-confirmation h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.order-confirmation p {
    margin: 10px 0;
    font-size: 16px;
}

.order-confirmation h3 {
    margin-top: 20px;
    font-size: 20px;
    color: #555;
}

.order-items {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.order-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.order-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.order-item-details {
    flex: 1;
}

.order-item-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.order-summary {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
}

.payment-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.payment-btn:hover {
    background-color: #218838;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #555;
}

.error-message {
    text-align: center;
    font-size: 18px;
    color: #e74c3c;
}

.price {
    
    color: #ee4d2d;
  }